/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body {font-family: "proxima-nova"!important;}

.wrap {margin-top:50px;}
.row-slider {background:transparent url(../img/bg1.jpg) top center no-repeat;}
.row-blog {background:transparent url(../img/bg2.jpg) top center no-repeat;}
.row-about {background:transparent url(../img/bg3.jpg) top center no-repeat;}
.row-listen {background:transparent url(../img/bg4.jpg) top center no-repeat;}
.row-slider, .row-blog, .row-about, .row-listen {margin-bottom:0px!important; background-size: cover; background-attachment: fixed; padding:10% 0px;}
.row-blog, .row-about, .row-listen {}

/* .banner.affix {position:fixed!important; top:30px!important; } */

h1, h2 {font-weight: 600!important;}

h3, h4 {font-weight:700!important;}


/* ==========================================================================
   Header
   ========================================================================== */

.banner {
z-index: 1000;
position: fixed;
width: 100%;
top: 0px;
}

body.logged-in .banner {top:30px;}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.col {
max-width: 85%;
margin: 0px auto!important;
float: none;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

body.home .page-header {display:none;}




/* ==========================================================================
   Homepage
   ========================================================================== */
   
/* LayerSlider */

.row-slider h1,
.row-slider h2,
.row-slider h3,
.row-slider h4 {color:#fff;}


/* Blog */

body.home .blog-item {}

body.home .blog-link {
display:block;
} 

body.home .blog-link.Twitter {padding-bottom: 48.5%; background-color: rgba(255, 255, 255, 0.5);}
body.home .blog-link.Instagra {background-color:transparent;}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 480px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) {

.row-slider, .row-blog, .row-about, .row-listen {min-height: 800px;}

body.home .blog-link {
display:block;
height:0px;
padding-bottom:100%%; 
} 

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
