/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body {font-family: "proxima-nova"!important;}

.wrap {margin-top:50px;}
.row-slider {background:transparent url(../img/bg1.jpg) top center no-repeat;}
.row-blog {background:transparent url(../img/bg2.jpg) top center no-repeat;}
.row-about {background:transparent url(../img/bg3.jpg) top center no-repeat;}
.row-listen {background:transparent url(../img/bg4.jpg) top center no-repeat;}
.row-slider, .row-blog, .row-about, .row-listen {margin-bottom:0px!important; background-size: cover; background-attachment: fixed; padding:10% 0px;}
.row-blog, .row-about, .row-listen {}

/* .banner.affix {position:fixed!important; top:30px!important; } */


h1, h2 {font-weight: 600!important;}


h1 {font-size:76px;}
h2 {font-size: 50px;}

h3, h4 {font-weight:700!important;}


/* ==========================================================================
   Header
   ========================================================================== */

.banner {
z-index: 1000;
position: fixed;
width: 100%;
top: 0px;
}

body.logged-in .banner {top:30px;}

.navbar-default {
background-color: #313131;
}

.navbar-default .navbar-nav>li>a {
color: #fff;
text-transform:uppercase;
font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover {
color: #ccc!important;
background-color: transparent;
}


.navbar-default .navbar-brand {
color: #fff;
font-size: 26px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 4px;
background: url(../img/brand.jpg) top left scroll no-repeat;
padding-left: 60px;
}

.navbar-default .navbar-brand:hover {color:#fff;}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

body.home .page-header {display:none;}




/* ==========================================================================
   Homepage
   ========================================================================== */
   
/* LayerSlider */

.row-slider h1,
.row-slider h2,
.row-slider h3,
.row-slider h4 {color:#fff;}


/* Blog */

body.home .blog-item {}

body.home .blog-link {
display:block;
height:0px;
padding-bottom:100%%; 
} 

body.home .blog-link:hover {text-decoration:none; color: #000;}

body.home .blog-item-container {margin: 15px 0px!important;}

body.home .blog-item-container .post-footer {
position: absolute;
bottom: 15px;
width: 50px;
height: 0px;
padding: 0px;
right: 15px;
color: #fff;
border-left: 75px solid transparent;
border-bottom: 75px solid gray;	
}

body.home .blog-item-container .post-footer .fa {
margin: 40px 0px 0px -32px;
font-size: 25px;
}

body.home .blog-link.Twitter {
padding: 10px 10px 48.5% 10px;
background-color: rgba(255, 255, 255, 0.8);
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;
}
body.home .blog-link.Twitter:hover {background-color: rgba(255, 255, 255, 0.9);}
body.home .blog-item-container .Twitter .post-footer {border-bottom: 75px solid #00aced;}
body.home .blog-item-container .Twitter .caption {font-size:16px; color:#313131;}


body.home .blog-link.Instagram {background-color:transparent;}
body.home .blog-item-container .Instagram .post-footer {border-bottom: 75px solid #517fa4;}
body.home .blog-item-container .Instagram .caption {
width: 100%;
display: block;
opacity: 0;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;
background: #fff;
position: relative;
top: 0px;
padding: 15px;
}

body.home .blog-item-container .Instagram:hover .caption {opacity: 0.8}


/* ==========================================================================
   About
   ========================================================================== */

body.about .sidebar {display:none;}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
background: #313131;
padding: 15px;
}

.social ul {margin:0px; padding:0px; list-style: none;}
.social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
.social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 480px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) {

.col {
max-width: 85%;
margin: 0px auto!important;
float: none;
}

body.about {background:transparent url(../img/bg3.jpg); background-attachment: fixed; background-size:100%}

.navbar-nav {
float: right;
margin: 0;
}

.row-slider, .row-blog, .row-about, .row-listen {min-height: 800px;}

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
