/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body {font-family: "proxima-nova"!important;}

.wrap {margin-top:50px;}
.row-slider {background:transparent url(../img/bg1.jpg) top center no-repeat;}
.row-blog {background:transparent url(../img/bg2.jpg) top center no-repeat;}
.row-about {background:transparent url(../img/bg3.jpg) top center no-repeat;}
.row-listen {background:transparent url(../img/bg4.jpg) top center no-repeat;}
.row-slider, .row-blog, .row-about, .row-listen {margin-bottom:0px!important; background-size: cover; background-attachment: fixed; padding:10% 0px;}
.row-blog, .row-about, .row-listen {}

/* .banner.affix {position:fixed!important; top:30px!important; } */


h1, h2 {font-weight: 600!important;}


h1 {font-size:76px;}
h2 {font-size: 50px;}

h3, h4 {font-weight:700!important;}


/* ==========================================================================
   Header
   ========================================================================== */

header .container-fluid {max-width:1170px;}

.banner {
z-index: 1000;
position: fixed;
width: 100%;
top: 0px;
border-right: 0px;
border-left: 0px;
}

body.logged-in .banner {top:30px;}

.navbar-default {
background-color: #313131;
border:none!important;
}

.navbar-default .navbar-nav>li>a {
color: #fff;
text-transform:uppercase;
font-weight: 700;
}

ul#menu-primary-navigation li {
letter-spacing: 4px;
font-size: 12px;
}

.navbar-default .navbar-nav>li>a:hover {
color: #fff000!important;
background-color: transparent;
}

.navbar-default .navbar-brand {
color: #fff;
font-size: 26px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 4px;
background: url(../img/brand.jpg) top left scroll no-repeat;
padding-left: 60px;
}

.navbar-default .navbar-brand:hover {color:#fff;}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

body.home .page-header {display:none;}




/* ==========================================================================
   Homepage
   ========================================================================== */
   
/*----- $LayerSlider -----*/

.row-slider h1,
.row-slider h2,
.row-slider h3,
.row-slider h4 {color:#fff;}


/*----- $Blog -----*/

.blog-item {}

.blog-link {
display:block;
height:0px;
padding-bottom:100%%; 
} 

.blog-link:hover {text-decoration:none; color: #000;}

.blog-item-container {margin: 15px 0px!important;}

.blog-item-container .post-footer {
position: absolute;
bottom: 15px;
width: 50px;
height: 0px;
padding: 0px;
right: 15px;
color: #fff;
border-left: 75px solid transparent;
border-bottom: 75px solid gray;	
}

.blog-item-container .post-footer .fa {
margin: 40px 0px 0px -32px;
font-size: 25px;
}

.blog-link.Blog {
padding: 10px 10px 50% 10px;
background-color: rgba(255, 255, 255, 0.8);
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;
}
.blog-link.Twitter {
padding: 10px 10px 42% 10px;
background-color: rgba(255, 255, 255, 0.8);
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;
}
.blog-link.Twitter:hover,
.blog-link.Blog:hover {background-color: rgba(255, 255, 255, 0.9);}
.blog-item-container .Twitter .post-footer {border-bottom: 75px solid #00aced;}
.blog-item-container .Twitter .caption {font-size:16px; color:#313131;}


.blog-link.Instagram {background-color:transparent;}
.blog-item-container .Instagram .post-footer {border-bottom: 75px solid #517fa4;}
.blog-item-container .Instagram .caption {
width: 100%;
display: block;
opacity: 0;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;
background: #fff;
position: relative;
top: 0px;
padding: 15px;
}

.blog-item-container .Instagram:hover .caption {opacity: 0.8}

/*----- $About -----*/


/*----- $Listen -----*/

.row-listen h1 {color:#fff;}
.row-listen h3 {color: #fff000;margin-top:0;}
.row-listen p {color:#ccc;}

.row-listen .player {text-align:center;}

body.home .btn-primary {
	background: transparent url(../img/buy-music-btn-bg.jpg);
	background-size: cover;
	border: none;
	display: block;
	transition:color .3s ease, filter .3s ease, -webkit-filter .3s ease;
}

div.col-sm-6.itunes {
float: right;
}

body.home a.btn-primary:hover {
color: #070707;
-webkit-filter: brightness(1.1);
filter: brightness(1.1);
}


/* ==========================================================================
   $About
   ========================================================================== */

body.about .sidebar {display:none;}

/* ==========================================================================
   $Photos
   ========================================================================== */

body.photos {
background: transparent url(../img/internal-bg.jpg);
background-attachment: fixed;
background-size: 100%;
}

/* ==========================================================================
   $Videos
   ========================================================================== */

body.videos {
background: transparent url(../img/internal-bg.jpg);
background-attachment: fixed;
background-size: 100%;
}

dd.tubepress_meta_title, dd.tubepress_meta_title a, dd.tubepress_meta_title a:hover {
font-size: 12px;
font-weight: 700;
float: left;
width: 100%;
max-height: 50px;
line-height: 1.2;
padding: 2%;
min-height: 50px;
overflow: hidden;
background-color: #D8D8D8;
}

dd.tubepress_meta.tubepress_meta_title a {
color: rgb(94, 94, 94);
font-weight: 100;
text-decoration: none;
text-align: center;
transition:color .3s ease;
}

dd.tubepress_meta.tubepress_meta_title a:hover {
color: #B1AA3C;
}

dd.tubepress_meta_runtime {display: none;}

.tubepress_normal_embedded_wrapper {width:auto!important;}

div.pagination {
display: none;
}

/* ==========================================================================
   $Shows
   ========================================================================== */
 
body.shows {
background: transparent url(../img/internal-bg.jpg);
background-attachment: fixed;
background-size: 100%;
}

body.shows .sidebar {display:none;}
   
/* ==========================================================================
   $Blog
   ========================================================================== */
 
body.blog,
body.archive,
body.single {
background: transparent url(../img/internal-bg.jpg);
background-attachment: fixed;
background-size: 100%;
}

body.blog #wpv-view-layout-1 {clear:both;}

body.blog .filter-label {
float: left;
width: 100px;
display: inline;
margin: 0px;	
}

body.blog label {
display: inline-block;
margin-bottom: 5px;
font-weight: bold;
padding: 2px 20px;
background: #ccc;
margin: 0px 10px;
border-radius: 8px;
border: 2px solid #999;
cursor: pointer;
}

body.blog label.active,
body.blog label.hover {background:#fff000;}

.categorychecklist {
list-style: none;
list-style-type: none;
margin: 0px;
padding: 0px;
float:left;
display:inline;
}

.categorychecklist li {float:left; display:inline;}

.next {float:right;}
.previous {float:left;}

.blog-footer {padding:15px;}
   
/* ==========================================================================
   $Contact
   ========================================================================== */

body.contact {
background: transparent url(../img/internal-bg.jpg);
background-attachment: fixed;
background-size: 100%;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

aside.sidebar {
margin: 0!important;
float: right!important;
margin-top: 10%!important;
background: rgba(255,255,255,.9);
}

/* ---- $Social Feed View ----- */

.sidebar form.wpv-filter-form.js-wpv-filter-form.js-wpv-filter-form-1.js-wpv-ajax-results-enabled {
display: none;
}

.sidebar .blog-link.Twitter {
padding: 10px 10px 12% 10px;
rgba(238, 238, 238, 1);
}

.sidebar .blog-item-container .Twitter .caption {
font-size: 12px!important;
color: #1D1D1D;
width: 95%;
}

.sidebar .blog-item-container {margin: 5px 0px!important;}

.sidebar .blog-item-container .Twitter .post-footer {border-bottom: 57px solid #00aced;bottom: 5px;}
.sidebar .blog-item-container .post-footer {border-left: 57px solid transparent;}
.sidebar .blog-item-container .post-footer .fa {margin: 30px 0px 0px -25px;font-size: 20px;}

/* ---- $Email Signup ----- */

.sidebar .text-6 img {width: 100%!important;padding-top:4%;}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
background: #313131;
padding: 15px;
}

.social ul {margin:0px; padding:0px; list-style: none;}
.social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
.social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 480px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


body.about {background:transparent url(../img/bg3.jpg); background-attachment: fixed; background-size:100%}


ul#menu-primary-navigation li {
font-size: 10px;
}

.navbar-default .navbar-brand {
font-size: 19px;
}

.navbar-nav {
float: none;
margin: 0px auto;
width: 695px
}

.row-slider, .row-blog, .row-about, .row-listen {min-height: 800px;}

 }

@media (min-width:768px) and (max-width: 991px) {

.navbar-brand {
float: none;
margin: 0px auto;
width: 320px;	
display:block;
}

.navbar-header {
width:100%;
float:none;	
}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.col {
max-width: 85%;
margin: 0px auto!important;
float: none;
}

.navbar-nav {
float: right;
margin: 0;
}

aside.sidebar {
margin-right: 3%!important;
width: 30%;	
}

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

ul#menu-primary-navigation li {
letter-spacing: 4px;
font-size: 12px;
}

.navbar-default .navbar-brand {
font-size: 26px;
}

 }
